@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.hamburger {
    display: none;
}

.headerLinks{
    display: flex;
    justify-content: center;
}

.headerLinks h2{
    padding: 0 15px;
    font-family: 'IBM Plex Serif', serif;
}

.headerLinks h2:hover {
    color: white;
}

a {
    text-decoration: none;
    margin: 1em;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    color: black
}
  
a:hover {
    transform: scale(1.02);
    background-color: rgb(53, 53, 53);
    color: white;
}

@media only screen and (max-width: 768px) {
    .headerLinks h2{
        font-size: 20px;
    }

    .hamburger {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }
}